* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    color: white;
    background-color: #080808;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: #080808;
    scrollbar-width: 5px;
    user-select: none;
}

::-webkit-scrollbar {
    background: #080808;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #101010;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #141414;
}

::-webkit-scrollbar-button {
    background: #080808;
}

body:hover {
    cursor: default;
}

nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.logo {
    color: white;
    font-size: 1.5rem;
    padding: 0 2rem;
    display: -webkit-flex;
}

.logo:hover {
    background: linear-gradient(90deg, rgba(255,27,252,1) 0%, rgba(239,10,106,1) 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.nav-text a{
    padding: 0 1.5rem;
    display: -webkit-inline-box;
}

.nav-text a:hover, footer a:hover{
    font-weight: bold;
}

.nav-icons {
    display: none;
}

.info {
    font-size: 1.3rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #141414;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}
  
input[type=submit] {
    background-color: #fa0b9e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #f81bc8;
}
  
.contact {
    margin: 4vw;
    background-color: #080808;
    padding: 20px;
}

a {
    display: -webkit-box;
    text-decoration: none;
}

a:hover {
    /* color: #ff5499; */
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255,27,252,1) 0%, rgba(239,10,106,1) 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    position: absolute;
    bottom: 0;
    display: inline-flex;
    justify-content: space-evenly;
    height: 50px;
    padding: 0.7rem;
    width: 100%;
    /* background-color: black; */
}



@media screen and (max-width: 650px) {
    .nav-text {
        display: none;
    }
    .nav-icons {
        display: inline-flex;
        gap: 15px;
        transform: scale(0.7);
    }
    .logo {
        font-size: 1.3rem;
        padding: 1rem;
    }
    nav {
        padding-left: 2vw;
        padding-right: 3vw;
    }
}
